:root {





    --white-50:#FFFFFF;
    --white-100:#F2F2F2;
    --white-200:#D9D9D9;
    --white-300:#BFBFBF;
    --white-400:#A6A6A6;
    --white-500:#8C8C8C;
    --white-600:#737373;
    --white-700:#595959;
    --white-800:#404040;
    --white-900:#262626;


    --black-50:#D9D9D9;
    --black-100:#CCCCCC;
    --black-200:#B3B3B3;
    --black-300:#999999;
    --black-400:#808080;
    --black-500:#666666;
    --black-600:#4D4D4D;
    --black-700:#333333;
    --black-800:#1A1A1A;
    --black-900:#000000;
  

    --blue-50: #E6FAF9;
    --blue-100: #D9F8F6;
    --blue-200: #B0F1EC;
    --blue-300: #00D1C3;
    --blue-400: #00BCB0;
    --blue-500: #00A79C;
    --blue-600: #009D92;
    --blue-700: #007D75;
    --blue-800: #005E58;
    --blue-900: #004944;

    --purple-50: #F7E9FE;
    --purple-100: #F4DEFE;
    --purple-200: #E7BBFC;
    --purple-300: #B324F5;
    --purple-400: #A120DD;
    --purple-500: #8F1DC4;
    --purple-600: #861BB8;
    --purple-700: #6B1693;
    --purple-800: #51106E;
    --purple-900: #3F0D56;

    --orange-50: #FEF5E6;
    --orange-100: #FEF0D9;
    --orange-200: #FCE0B0;
    --orange-300: #F59B00;
    --orange-400: #DD8C00;
    --orange-500: #C47C00;
    --orange-600: #B87400;
    --orange-700: #935D00;
    --orange-800: #6E4600;
    --orange-900: #563600;

    --red-50:#FFF4F4;
    --red-100:#FFDBDB;
    --red-200:#FFA8A8;
    --red-300:#FF7575;
    --red-400:#FF4242;
    --red-500: #FF0F0F;
    --red-600: #DB0000;
    --red-700: #A80000;
    --red-800: #750000;
    --red-900:#420000;

    --green-50: #E6FBF4;
    --green-100: #D9F9EE;
    --green-200: #B0F2DC;
    --green-300: #00D68F;
    --green-400: #00C181;
    --green-500: #00AB72;
    --green-600: #00A16B;
    --green-700: #008056;
    --green-800: #006040;
    --green-900: #004B32;

}
























:root {
    // bg color variables light 
    --bg-primary:var(--white-50);
    --bg-secondary: var(--white-100);
    --bg-tertiary: var(--white-200);

    // text color success light variables
    --text-success-primary: var(--green-400);
    --text-success-secondary: var(--green-300);
    --text-success-tertiary: var(--green-200);

    //text color warning light variables
    --text-warning-primary: var(--orange-300);
    --text-warning-secondary: var(--orange-200);
    --text-warning-tertiary: var(--orange-100);

    // text color danger light variables
    --text-danger-primary: var(--red-500);
    --text-danger-secondary: var(--red-300);
    --text-danger-tertiary: var(--red-200);

    // brand color variables light
    --brand-primary:var(--purple-300);
    --brand-secondary:var(--purple-200);
    --brand-tertiary:var(--purple-100);


        //  text colors variables light
        --text-primary:var(--black-700);
        --text-secondary:var(--black-600);
        --text-tertiary:var(--black-500);

        // bg neutral primary light 
        --bg-neutral-primary:var(--white-50);
        --bg-neutral-secondary:var(--white-100);



}





[data-bs-theme='dark'] {

    // bg color variables dark 
    --bg-primary:var(--black-900);
    --bg-secondary: var(--black-800);
    --bg-tertiary: var(--black-700);


    // text color success dark variables
    --text-success-primary: var(--green-400);
    --text-success-secondary: var(--green-300);
    --text-success-tertiary: var(--green-200);


    //text color warning dark variables
    --text-warning-primary: var(var(--orange-300));
    --text-warning-secondary: var(var(--orange-200));
    --text-warning-tertiary: var(var(--orange-100));
   // brand color variables light
   --brand-primary:var(--purple-300);
   --brand-secondary:var(--purple-200);
   --brand-tertiary:var(--purple-100);

    // text color danger dark variables
    --text-danger-primary: var(--red-600);
    --text-danger-secondary: var(--red-300);
    --text-danger-tertiary: var(--red-200);


       // brand color variables dark
       --brand-primary:var(--purple-300);
       --brand-secondary:var(--purple-200);
       --brand-tertiary:var(--purple-100);


       //   text colors variables dark
       --text-primary:var(--white-100);
       --text-secondary:var(--white-200);
       --text-tertiary:var(--white-300);


            // bg neutral primary dark 
            --bg-neutral-primary:var(--black-50);
            --bg-neutral-secondary:var(--black-100);
            

}