

 $font-family:"Roboto Slab", serif;



 






 :root {


    --font-size-xs:12px;
    --font-size-sm:14px;
    --font-size-default:16px;
    --font-size-md:18px;
    --font-size-xl:20px;
    --font-size-2xl:24px;
    --font-size-3xl:30px;
    --font-size-4xl:36px;
    --font-size-5xl:42px;
    --font-size-6xl:48px;
    --font-size-7xl:54px;
    --font-size-8xl:60px;
   


 --font-weight-thin:100;
 --font-weight-extra-light:200;
 --font-weight-light:300;
 --font-weight-regular:400;
 --font-weight-medium:500;
 --font-weight-semibold:600;
 --font-weight-bold:700;
 --font-weight-extra-bold:800;
 --font-weight-black:900;
 


    --line-height-auto:auto;
    --line-height-none:1.0rem;
    --line-height-3xs:1.5rem;
    --line-height-2xs:2rem;
    --line-height-xs:2.5rem;
    --line-height-sm:3rem;
    --line-height-md:3.5rem;
    --line-height-lg:4rem;
    --line-height-xl:4.5rem;
    --line-height-2xl:6rem;
    --line-height-3xl:6.5rem;
    --line-height-4xl:7rem;
   


    --letter-spacing-normal:0px;
    --letter-spacing-dense:-0.2px;
    --letter-spacing-denser:-0.3px;
    --letter-spacing-densest:-0.54px;
   
   


 }



