.login-cont {
    width: 100%;
    height:calc(100vh - 60px);
    background-color:var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem auto;
    .login {
        width: 28vw;
        height:auto;
        background-color: var(--bg-secondary);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        border-radius: 5px;
        padding:50px 20px;
        h1{
            text-align: center;
            margin:20px auto;
            color: var(--text-primary);
        }
        p {
          color: var(--text-primary);
        }
        .form-group{
            width:100%;
            margin:10px auto;
          
            label {
                color:var(--text-primary);
                display:block;
            }
            input {
                background-color:var(--bg-primary);
                border: 1px solid var(--bg-neutral-secondary);
                padding:15px 10px;
                width: 100%;
                margin: 5px auto;
                border-radius: 5px;
                font-size:var(--font-size-default);
                font-weight:var(--font-weight-medium);
                 color:var(--text-tertiary);
            }
            input[type=submit] {
                margin: 15px auto;
                font-weight: var(--font-weight-semibold);
                cursor: pointer;
                background-color: var(--brand-primary);
                color: var(--text-primary);
            }
            input:focus {
                outline: none;
            }
        }
    }
}

@media (max-width:768px){
    .login-cont{
        .login {
            width:100%;
          }
    }
  
}