@use '../../../../assets/styles/base/color' as colors;
@use '../../../../assets/styles/base/typography' as types;

:host {
    transition: all 5s ease-in;
}

.modal-container {
    width: 40vw;
    height: fit-content;
    background-color:var(--bg-secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 10px 20px;
    z-index: 1000;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 10px auto;

    i {
        cursor: pointer;
        font-size: var(--font-size-md);
        border-radius: 5px;
        padding: 5px;
        transition: .3s;
        color: var(--text-primary);
    }

    i:hover {
        background-color: var(--bg-secondary);
    }

    h3 {
        margin-bottom: 8px;
        color: rgba(0, 0, 0, 0.2);
        font-size:var(--font-size-md);
    }
}

.title {
    padding: 5px;
}

.form-group {
    margin-bottom: 6px;
}

input {
    height: 40px;
}

input,
textarea {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 2px;
    resize: none;
    padding: 10px;
    letter-spacing: 1px;
    font-family: "Roboto Slab", serif;
    font-size:var(--font-size-sm);
    font-weight: var(font-weight-medium);
    color: var(--text-tertiary);
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin: 30px auto;

}

.select-group {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-bottom: 5px;
}

.select-group select {
    border: 1px solid var(--bg-neutral-secondary);
    outline: none;
    border-radius: 3px;
    padding: 9px 10px;
    letter-spacing: 1px;
    font-family: "Roboto Slab", serif;
    font-size: var(--font-size-sm);
    font-weight:var(--font-weight-medium);
    color: var(--text-tertiary);
    position: relative;
}

.submit,
.cancle {
    padding: 10px 15px;
    margin: 0px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-sm);
    border: 1px solid var(--brand-primary);
}

.submit {
    background-color:var(--brand-secondary);
}

.btn-outline {
    padding: 5px 10px;
    margin: auto 5px;
    border: 2px solid var(--bg-neutral-secondary);
    border-radius: 5px;
    font-size: var(--font-size-xs);
    cursor: pointer;
}

.alert {
    color: var(--text-danger-primary);
    font-size:var(--font-size-xs);
    font-weight: var(--font-weight-light);
}

.select-time,
.select-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.start-time,
.end-time,
.start-date,
.end-date {
    width: 45%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

label {
    font-size:var(--font-size-xs);
    color: var(--text-warning-secondary);
}

.select-date input,
.select-time input {
    padding: 0px 8px;
    border-radius: 3px;
    height: 40px;
}

@media (max-width:765px) {
    .modal-container {
        width: 80vw;
    }
}