<div class="main-content"  [class]="this.sideNavService.collapse()" [class]="!this.sideNavService.collapse() && this.sideNavService.position() == 'default' ? 'max' : 'min'">
 <header>
   <div></div>
    <div class="avatar" #avatar (click)="showProfile()">
      <img src="/images/avatar.svg" width="20px" height="auto" alt="">
      @if(collapseProfile()){
        <div class="profile">
           <div>
              <div class="avatar-mini">
                 <img src="/images/avatar.svg" width="20px" height="auto" alt="">
               </div>
               <div class="user-details" routerLink="/dashboard" >
                 <h4 >Md karimul islam</h4>
                 <span>7mdkarigmail.com</span>
               </div>
           </div>
           <ul>
              <li routerLink="/settings"><a>Settings</a></li>
              <li><a>Help</a></li>
           </ul>
        </div>
        }
    </div>
 </header>

 <section>
    <router-outlet></router-outlet>
 </section>
 
  
</div>