<div>
    <span>Profile</span>
    <div class="profile-cont">
        <img src="https://plus.unsplash.com/premium_photo-1671656349218-5218444643d8?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
        <button>change photo</button>
        <button>delete photo</button>
    </div>
    <div class="profile-details">
        <div class="profile-item">
            <label for="name">Profile name</label>
            <input type="text" id="name" placeholder="Name">
        </div>


        <div class="profile-item">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Email">
        </div>




        <div class="profile-item">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password">
        </div>

        <div class="profile-item">
            <button>Save</button>
        </div>


    </div>
</div>