<header class="container">
   
        <div class="logo-cont">
            <a routerLink="/"> <img  class="logo" src="images/main-logo.png"  alt="lgo"></a>
        </div>
            <nav class="nav">
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        <div class="btn-cont">
             <button (click)="toggleTheme()">
                @if(themeState) {
                    <i class='bx bxs-toggle-right' ></i>
                }@else {
                    <i class='bx bx-toggle-left'></i>
                }
                
               
             </button>
             
            <i class="menu-icon" (click)="collapseMobileNav()" class='bx bx-menu'></i>
        </div>
       
    
</header>


<div class="nav-cont-sm" [class]="collapseNav ? 'show-sm-nav' : 'hide-sm-nav' ">
    <nav class="nav">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</div>