@use '../../../../assets/styles/base/color' as colors;
@use '../../../../assets/styles/base/typography' as type;

.hero{
    width: 100%;
    height:calc(100vh - 60px);
    background-color:var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    > div {
        width: fit-content;
        padding: 10px;
        text-align: center;
    }
    h1{
        color:var(--text-primary);
        font-size:var(--font-size-7xl);
        line-height: var(--line-height-lg);
        margin:15px auto;
    }
    p {
        font-size:var(--font-size-xl);
        color: var(--text-secondary);
        margin: 5px 20px;
    }
}


@media(max-width:992px){
    .hero
    >div {
        padding: 0px;
    }
    h1 {
        font-size:var(font-size-2xl);
        line-height: var(--line-height-2xs);
        text-align:center;
    }
    p {
        font-size:var(--font-size-md);
        color:var(--text-secondary);
        margin:0px;
        text-align:center;
    }
}