


<div class="setting-cont">
  <div class="setting-header">
    <h3>Settings</h3>
  </div>   
    <div class="setting-body">
      <div class="nav-item">
        <ul>
            <li routerLink="./" routerLinkActive="active"><i class='bx bxs-user'></i><a >profile account</a></li>
            <li routerLink="./appearance" routerLinkActive="active"><i class='bx bxs-credit-card-front'></i><a >appearane</a></li>
            <li routerLink="./notification" routerLinkActive="active"><i class='bx bx-bell'></i><a >notification</a></li>
        </ul>
      </div>

      <div class="nav-content">
        <router-outlet></router-outlet>
    </div>
</div>
</div>