@use '../../../../assets/styles/base/typography' as typo;
@use '../../../../assets/styles/base/color' as colors;

.container {
    width: 100%;
    height: 100%;
    h3{
        font-size: typo.$font-size-sm;
        margin: 10px auto;
    }
}
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.completed-task {
width: 33%;
height: 200px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
border-radius:5px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
div > p {
    font-size: typo.$font-size-md;
}
span {
    font-size: typo.$font-size-2xl;
    font-weight: typo.$font-weight-extra-bold;
    color:colors.$text-color-primary-dark;
    background-color: colors.$brand-primary;
    display: block;
    width: 60px;
    height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
    padding: 20px;
    border-radius:50%;
    margin: 10px;
}
}
.pending-task {
    width: 33%;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
div > p {
    font-size: typo.$font-size-md;
}
span {
    font-size: typo.$font-size-2xl;
    font-weight: typo.$font-weight-extra-bold;
    color:colors.$text-color-primary-dark;
    background-color: colors.$brand-primary;
    display: block;
    width: 60px;
    height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
    padding: 20px;
    border-radius:50%;
    margin: 10px;
}
    }
    .dued-task {
        width: 33%;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
        border-radius: 5px;
        display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
div > p {
    font-size: typo.$font-size-md;
}
span {
    font-size: typo.$font-size-2xl;
    font-weight: typo.$font-weight-extra-bold;
    color:colors.$text-color-primary-dark;
    background-color: colors.$brand-primary;
    display: block;
    width: 60px;
    height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
    padding: 20px;
    border-radius:50%;
    margin: 10px;
}
    }




    .chart-cont {
        width:100%;
        height:auto;
        margin: 10px auto;
    }
    .chart {
        width:100%;
        height:500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
.chart-left,.chart-right {
    width:100%;
}

    

    canvas {
        width: 100%;
        height:100px;
    }



    @media(max-width:600px){
        .dued-task,.completed-task,.pending-task {
            width: 100%;
        }
    }