<div class="container">
    <h3>Total result </h3>
    <div class="top-section">
    <div class="completed-task">
        <div >
            <p>Total Completed task<i style="font-size: 20px;margin: auto 10px;" class='bx bx-donate-blood'></i></p>  
        </div>
        <span>34</span>
    </div>
    <div class="pending-task">
        <div >
            <p>Total Completed task<i style="font-size: 20px;margin: auto 10px;" class='bx bx-donate-blood'></i></p>  
        </div>
        <span>34</span>
    </div>
    <div class="dued-task">
        <div >
            <p>Total Completed task<i style="font-size: 20px;margin: auto 10px;" class='bx bx-donate-blood'></i></p>  
        </div>
        <span>34</span>
    </div>
    </div>

    <div class="chart-cont">
        <div class="top-header">
            <h3>See task report</h3>
        </div>
        <div class="chart">
            <div class="chart-left">
                <canvas #canvas1></canvas>
            </div>
            <div class="chart-right">
                <canvas #canvas2></canvas>
            </div>
            
        </div>

 

    </div>
</div>