@use '../../../assets/styles/base/color' as colors;
@use '../../../assets/styles/base/typography' as types;

:host{
    transition:all 5s ease-in;
}

.modal-container {
    width:40vw;
    height:fit-content;
    background-color:colors.$bg-secondary-ligth;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    padding:10px 20px;
    z-index: 1000;
}
.header {
    display: flex;
    justify-content:flex-end;
    align-items:flex-start;
    margin: 10px auto;
    i {
        cursor: pointer;
        font-size: types.$font-size-md;
        border-radius: 5px;
        padding: 5px;
        transition: .3s;
        color: colors.$text-color-primary-light;
    }
    i:hover {
        background-color: colors.$bg-neutral-secondary-light;
    }
    h3 {
        margin-bottom:8px;
        color:rgba(0, 0, 0, 0.2);
        font-size: types.$font-size-md;
    }
}
.title {
    padding:5px;
}
.form-group {
    margin-bottom:6px;
}
input {
    height:40px;
}
input,textarea {
    width: 100%;
    outline:none;
    border: none;
    border-radius: 2px;
    resize: none;
    padding: 10px;
    letter-spacing:1px;
    font-family: "Roboto Slab", serif;
    font-size:types.$font-size-sm;
    font-weight: types.$font-weight-medium;
     color: colors.$text-color-tertiary-dark;
}
.footer {
    display: flex;
    justify-content: flex-end;
    margin: 30px auto;

}
.select-group {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-bottom: 5px;
}
.select-group select {
    border: 1px solid colors.$bg-neutral-secondary-dark;
    outline:none;
    border-radius: 3px;
    padding: 9px 10px;
    letter-spacing:1px;
    font-family: "Roboto Slab", serif;
    font-size:types.$font-size-sm;
    font-weight: types.$font-weight-medium;
     color: colors.$text-color-tertiary-dark;
     position: relative;
}

.submit,.cancle {
    padding: 10px 15px;
    margin: 0px 5px;
    border: none;    
    border-radius: 5px;
    cursor: pointer;
    font-size: types.$font-size-sm;
    border: 1px solid colors.$brand-primary;
}
.submit {
    background-color: colors.$brand-secondary;
}
.btn-outline {
    padding:5px 10px;
    margin: auto 5px;
    border: 2px solid colors.$bg-neutral-primary-light;
    border-radius:5px;
    font-size: types.$font-size-xs;
    cursor: pointer;
}
.alert {
    color: colors.$text-danger-primary-light;
    font-size: types.$font-size-xs;
    font-weight:types.$font-weight-light;
}
.select-time,.select-date {
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
}
.start-time,.end-time,.start-date, .end-date {
    width: 45%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

label {
    font-size:types.$font-size-xs;
    color: colors.$text-warning-secondary-light;
}

.select-date input , .select-time input {
    padding: 0px 8px;
    border-radius: 3px;
    height:40px;
}

@media (max-width:765px){
    .modal-container {
        width:80vw;
    }
}

