@use '../../../../assets/styles/base/typography' as types;
@use '../../../../assets/styles/base/color' as colors;

footer{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: colors.$bg-neutral-secondary-light;

}

ul {
    list-style: none;
}
li{
    display: inline-block;
    margin: auto 8px;
}
footer div i {
margin: auto 8px;
cursor: pointer;
font-size:types.$font-size-md;
}