/* You can add global styles to this file, and also import other style files */

@import 'ngx-toastr/toastr';

body {
    font-family: "Roboto Slab", serif;
    padding: 0px;
    margin: 0px;
    background-color: var(--bg-primary);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    letter-spacing: 1.2px;
}

.container {
    width: 90%;
    margin: auto;
}














        
  











.btn-primary {
    padding: 10px 15px;
    border: none;
    background-color: var(--purple-500);
    color: var(--white-200);
    font-size: 1.2rem;
    border-radius:5px;
    cursor: pointer;
}






